<a href="https://colab.research.google.com/github/Mhsm2012/machine_learning_course/blob/main/baseball.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**exploring baseball data **

In [1]:
# importing the required libraies
import sqlite3 as sq3
import pandas as pd

In [2]:
# create a path for data then make a connection with sq3lite
path = '/content/baseball.db'
con=sq3.Connection(path)

In [3]:
# make a new query
query=''' SELECT * FROM allstarfull ;'''
observations = pd.read_sql(query,con)
observations.head()

   index   playerID  yearID  gameNum  ... teamID lgID   GP  startingPos
0      0  gomezle01    1933        0  ...    NYA   AL  1.0          1.0
1      1  ferreri01    1933        0  ...    BOS   AL  1.0          2.0
2      2  gehrilo01    1933        0  ...    NYA   AL  1.0          3.0
3      3  gehrich01    1933        0  ...    DET   AL  1.0          4.0
4      4  dykesji01    1933        0  ...    CHA   AL  1.0          5.0

[5 rows x 9 columns]

In [4]:
query = """
SELECT *
    FROM allstarfull
    ;
"""

allstar_observations = pd.read_sql(query, con)

# print(allstar_observations)

# Create a variable, tables, which reads in all data from the table sqlite_master
all_tables = pd.read_sql('SELECT * FROM sqlite_master', con)
print(all_tables)

# Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""
best = pd.read_sql(best_query, con)
print(best.head())
### END SOLUTION

    type  ...                                                sql
0  table  ...  CREATE TABLE "allstarfull" (\n"index" INTEGER,...
1  index  ...  CREATE INDEX "ix_allstarfull_index"ON "allstar...
2  table  ...  CREATE TABLE "schools" (\n"index" INTEGER,\n  ...
3  index  ...  CREATE INDEX "ix_schools_index"ON "schools" ("...
4  table  ...  CREATE TABLE "batting" (\n"index" INTEGER,\n  ...
5  index  ...  CREATE INDEX "ix_batting_index"ON "batting" ("...

[6 rows x 5 columns]
    playerID  num_games_played  avg_starting_position
0  musiast01              24.0               6.357143
1   mayswi01              24.0               8.000000
2  aaronha01              24.0               8.470588