<a href="https://colab.research.google.com/github/Mhsm2012/machine_learning_course/blob/main/baseball.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**exploring baseball data **

In [1]:
# importing the required libraies
import sqlite3 as sq3
import pandas as pd

In [2]:
# create a path for data then make a connection with sq3lite
path = '/content/baseball.db'
con=sq3.Connection(path)

In [3]:
# make a new query
query=''' SELECT * FROM allstarfull ;'''
observations = pd.read_sql(query,con)
observations.head()

   index   playerID  yearID  gameNum  ... teamID lgID   GP  startingPos
0      0  gomezle01    1933        0  ...    NYA   AL  1.0          1.0
1      1  ferreri01    1933        0  ...    BOS   AL  1.0          2.0
2      2  gehrilo01    1933        0  ...    NYA   AL  1.0          3.0
3      3  gehrich01    1933        0  ...    DET   AL  1.0          4.0
4      4  dykesji01    1933        0  ...    CHA   AL  1.0          5.0

[5 rows x 9 columns]